<div class="sign-up__container">
  <div class="header">
    <span>Thông tin khách hàng</span>
  </div>
  
  <form
    #userForm="ngForm"
    (ngSubmit)="submitUser(userForm)"
    class="sign-up"
    action=""
  >
    <input
      [(ngModel)]="user.name"
      name="name"
      type="text"
      placeholder="Nhập tên khách hàng..."
    />
    <input
      [(ngModel)]="user.email"
      name="email"
      type="text"
      placeholder="Nhập Email khách hàng "
    />
    <input
      [(ngModel)]="user.phone"
      name="phone"
      type="text"
      placeholder="Nhập số điện thoại khách hàng "
    />
  
    <button class="btn btn-primary btn-submit" type="submit">Bắt đầu chat</button>
  </form>
</div>

<span *ngIf="showBubble" (click)="goToLiveChat()" class="btn-bubble"> -->
  <i class="fab fa-facebook-messenger"></i>
</span>
