@import "../../assets/scss/mixins.scss";
@import "../../assets/scss/button.scss";
@import "../../assets/scss/variables.scss";

.sign-up__container {
  .header {
    padding: 1rem 0;
    background-color: #0e71ea;
    width: 100%;
    text-align: center;
    color: white;
    box-shadow: 1px 1px 8px #888;
    height: 140px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .sign-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;

    input {
      padding: 0.5rem 1rem;
      border-radius: 5px;
      outline: none;
      margin: 0.75rem;
      width: 70%;
      border: 1px solid $border;
    }

    .btn-submit {
      margin-top: 1rem;
      padding: 0.75rem 1rem;
      width: 80%;
      outline: none;
      border: none;
      cursor: pointer;
    }
  }
}

.btn-bubble {
  font-size: 3rem;
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  color: #4c6ef5;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  @include centerFlex();

  &:hover {
    background-color: ghostwhite;
    cursor: pointer;
    box-shadow: 1px 1px 8px #888;
  }
}
